body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0b1d3a;
}

.space {
  height: 200px;
  width: 200px;
  position: relative;
  /* border: 2px solid red; */
  background-color: #0b1d3a;
  /* outline: 1px dashed #f00; */
}

.earth {
  position: absolute;
  background: radial-gradient(circle at 30% 30%, #5cc0ff, #1a75bb, #00e200);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 20px rgba(92,192,255,0.6);
}

.orbit {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  /* background-color: gray; */
  animation-name: orbit;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  /* transform-origin: center center; */
}

.moon {
  position: absolute;
  width: 30px;
  height: 30px;
  background: radial-gradient(circle at 30% 30%, lightgray, coral);
  left: 50%;
  top: 0;
  border-radius: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

@keyframes orbit {
  0% {
    transform: rotate(0deg) translate(-50%, -50%)
  }
  100% {
    transform: rotate(360deg) translate(-50%, -50%)
  }
}