h1 {
  text-align: center;
  margin-bottom: 50px;
}

.gallery {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.gallery-item {
  width: 27%;
  height: 270px;
  transform: scale(1);
  transition: transform 0.3s ease-in-out
}

.gallery-item:hover{
  cursor: pointer;
  transform: scale(1.2)
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}

#close-btn {
  position: relative;
  top: -200px;
  right: -30px;
  background-color: black;
  color: white;
  cursor: pointer;
}

#lightbox-image {
  width: 70%;
  height: 70%;
}

